body{
	background-color: lightgreen;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

p {
	font-size: 19px;
	text-align: center;

}

#vanish1{
	display: none;
}

#vanish2{
	display: none;
}

#vanish3{
	display: none;
}

#vanish4{
	display: none;
}

#vanish5{
	display: none;
}